<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dragablz" version="0.0.3.197" targetFramework="net45" />
  <package id="NetOffice.Core.Net45" version="1.7.4.4" targetFramework="net45" />
  <package id="NetOffice.Excel.Net45" version="1.7.4.4" targetFramework="net45" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net45" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net45" />
  <package id="WpfColorFontDialog" version="1.0.5" targetFramework="net45" />
</packages>