<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dragablz" version="0.0.3.160" targetFramework="net45" />
  <package id="NetOffice.Core.Net45" version="1.7.3.0" targetFramework="net45" />
  <package id="NetOffice.Excel.Net45" version="1.7.3.0" targetFramework="net45" />
  <package id="WpfColorFontDialog" version="1.0.2" targetFramework="net45" />
</packages>